body{
    background: url(./date.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
}    
*{ 
    margin: 0;
    padding:0;
}
.text2{
    text-align: center;
    color:#16E2F5;
    
}